<p>
  <strong>Title:</strong>
  <%= @article.title  %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>State:</strong>
  <%= @article.state %>
</p>

<%= link_to 'Back', :action => :index %>
| <%= link_to 'Edit', :action => :edit, :id => @article.id %>

